<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body style="font-family: 'Quicksand', sans-serif;">
    <div style="margin: 50px auto; padding: 15px; width: 360px; border-radius: 20px; border: 1px solid #9a4580;">
        <b>Dzień dobry</b>,<br/>
        dziękuję serdecznie za zaufanie.<br/><br/>

        Aby przygotować się do konsultacji, proszę o wypełnienie ankiety, która pozwoli mi poznać
        Pana/Pani potrzeby.<br/>
        Załączam również ćwiczenia, które mogą pomóc w sprecyzowaniu własnych potrzeb i
        sytuacji zawodowej.<br/><br/>

        Proszę o wypełnienie ankiety najpóźniej 2 dni przed konsultacją.<br/>
        Link do ankiety: https://forms.office.com/e/4Z4W5Qyzhi<br/>
        Link do ćwiczeń: Ćwiczenia dla osób szukających zmiany zawodowej.docx<br/><br/>

        W razie potrzeby proszę o kontakt na maila: p.laczek@ricg.eu.<br/>
        Bardzo cieszę się na nasze spotkanie!<br/><br/>

        Pozdrawiam<br/>
        Paulina Łączek
    </div>
</body>
</html>